[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim/bundle/tComment"]
	path = vim/bundle/tComment
	url = https://github.com/vim-scripts/tComment
[submodule "vim/bundle/UltiSnips"]
	path = vim/bundle/UltiSnips
	url = https://github.com/vim-scripts/UltiSnips
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/bundle/vim-easy-align"]
	path = vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/vim-multiple-cursors"]
	path = vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "vim/bundle/vim-crystal"]
	path = vim/bundle/vim-crystal
	url = https://github.com/rhysd/vim-crystal
[submodule "vim/bundle/vim-rspec"]
	path = vim/bundle/vim-rspec
	url = https://github.com/thoughtbot/vim-rspec
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "vim/bundle/vim-rubocop"]
	path = vim/bundle/vim-rubocop
	url = https://github.com/ngmy/vim-rubocop
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
